.homeContainer{
  flex-direction: column;
  display: flex;
  align-items: center;
}

header {
  width: 100%;
  height: 450px;
}

header img{
  position: relative;
  width: 100%;
  height: 450px;
}

.headerTitles {
  position: absolute;
  width: 100%;
  top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

 .headerLinks a {
    margin-right: 15px;
    text-decoration: none;
    font-weight: 700;
    color: #000;
 }

 .headerLinks a:hover{
  text-decoration: overline;
 }

 .headerLinks .signIn {
    width: 192px;
    height: 44.47px;
    background: #1BEBEF;
    border: 0;
    border-radius: 8px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    transition: filter 0.2s;
 }

 .headerLinks button:hover{
   filter: brightness(90%);
 }

 .headerTitle {
    position: absolute;
    top: 135px;
    font-size: 64px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%);
 }

 .container {
   width: 100%;
   max-width: 1250px;
 }

 .cards{
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 .card {
   width: 45%;
   background-color: #fff;
   border-radius: 8px;
   height: 20vh;
   display: flex;
   padding: 15px 15px;
 }

 .card p{
   margin-left: 20px;
   font-size: 18px;
   color: #737380;
 }

 .exampleDonation {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 80px;
 }

 .exampleDonation img{ 
   width: 300px;
 }

 .arrows {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
 }

 .arrow img{
   width: 450px;
 }

 .arrow {
   display: flex;
   flex-direction: column;
   align-items: center;
 }

 .footer{
   width: 100%;
   height: 8vh;
   margin-top: 80px;
   text-align: center;
   border-top: 1px solid #b6b6b8;
 }

 .footer p { 
   margin-top: 15px;
 }
 
